{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Index{% endblock %}</h1>
{% endblock %} {% block content %} {% raw %}
<div id="app">
    <p v-if="isConnected">We're connected to the server!</p>
    <h3 v-if="errMsg == ''">Status: System up</h1>
        <h3 v-else>Status: {{errMsg}}</h1>
            <input v-model="DateFrom">
            <button @click="loadData()">loadData</button>
            <button @click="loadLiveData()">LiveData</button>

            <h4>Requested Data:</h4>
            <!-- <p v-if="data != 0">{{data}}</p> -->
            <div class="small">
                <line-chart :data="dataChart " :options="{responsive: true, maintainAspectRatio: false} "></line-chart>

            </div>
</div>
<!-- <div id="app">
    {{ dataChart }}
    <button v-on:click="loadData ">Change data</button>
    <line-chart :data="dataChart " :options="{responsive: true, maintainAspectRatio: false} "></line-chart>

</div> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js "></script>
<script src="https://unpkg.com/vue-chartjs@2.5.7-rc3/dist/vue-chartjs.full.min.js "></script>
<style>
    .small {
        max-width: 600px;
        margin: 150px auto;
    }
</style>
{% endraw %} {% endblock %}