{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Solar Dashboard{% endblock %}</h1>
{% endblock %} {% block content %} {% raw %}
<div id="app">
    <div class="block" id="liveData">
        <h2>Live Data</h2>
        <p v-if="errMsg != ''">{{errMsg}}</p>
        <table>
            <tr>
                <td>SolarVoltage:</td>
                <td>{{dataChart['SolarVoltage'][(dataChart['SolarVoltage'].length -1)]}}</td>
            </tr>
            <tr>
                <td>SolarCurrent:</td>
                <td>{{dataChart['SolarCurrent'][(dataChart['SolarCurrent'].length -1)]}}</td>
            </tr>
            <tr>
                <td>BattVoltage:</td>
                <td>{{dataChart['BattVoltage'][(dataChart['BattVoltage'].length -1)]}}</td>
            </tr>
            <tr>
                <td>BattCurrent:</td>
                <td>{{dataChart['BattCurrent'][(dataChart['BattCurrent'].length -1)]}}</td>
            </tr>
            <tr>
                <td>LoadCurrent:</td>
                <td>{{dataChart['LoadCurrent'][(dataChart['LoadCurrent'].length -1)]}}</td>
            </tr>
        </table>
    </div>
    <div class="block" id="chart">
        <h2>History</h2>
        <line-chart :data="dataChart" :update-trigger="updateTrigger" :update-trigger-reload="updateTriggerReload"></line-chart>
    </div>
    <div class=" block " id="settings ">
        <h2>Settings</h2>
        <input v-model="DateFrom ">
        <button @click="loadData() ">loadData</button>
        <button @click="loadLiveData()">loadLiveData</button>
    </div>
    <div id="prediction">
        <h2>Battery-Voltrage prediction</h2>
        <input v-model="entries" placeholder="Voltage">
        <input v-model="predictionVoltage" placeholder="points">
        <button @click="predictDate() ">Predict</button>
        <p v-if="score != ''" id=" result ">{{predictedDate}} score: {{score}}</p>
    </div>
</div>

<style>
    body {
        height: 100vh;
    }
    
    #prediction {
        margin-top: 20px
    }
    
    #result {
        margin-top: 5px;
    }
    
    @media only screen and (max-width: 1000px) {
        body {
            min-height: 100vh;
            text-align: center;
        }
        #app {
            min-width: 100vh;
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>
{% endraw %} {% endblock %}