{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Index{% endblock %}</h1>
{% endblock %} {% block content %} {% raw %}
<div id="app">
    <p v-if="isConnected">We're connected to the server!</p>
    <h3 v-if="errMsg == ''">Status: System up</h1>
        <h3 v-else>Status: {{errMsg}}</h1>
            <input v-model="DateFrom">
            <button @click="loadData()">loadData</button>
            <button @click="loadLiveData()">LiveData</button>

            <h4>Requested Data:</h4>
            <p v-if="data != 0">{{data}}</p>
            <div class="small">
                <line-chart :chart-data="datacollection" :post-title="labels" :solar-data="data"></line-chart>
                <button @click=" fillData() ">Randomize</button>
            </div>
</div>
<script>
    // import {
    //     line
    // } from 'vue-chartjs'
    // export default {
    //     components: {
    //         LineChart
    //     },
    //     data() {
    //         return {
    //             datacollection: null
    //         }
    //     },
    //     mounted() {
    //         this.fillData()
    //     },
    //     methods: {
    //         fillData() {
    //             this.datacollection = {
    //                 labels: [this.getRandomInt(), this.getRandomInt()],
    //                 datasets: [{
    //                     label: 'Data One',
    //                     backgroundColor: '#f87979',
    //                     data: [this.getRandomInt(), this.getRandomInt()]
    //                 }, {
    //                     label: 'Data One',
    //                     backgroundColor: '#f87979',
    //                     data: [this.getRandomInt(), this.getRandomInt()]
    //                 }]
    //             }
    //         },
    //         getRandomInt() {
    //             return Math.floor(Math.random() *
    //                 (50 - 5 + 1)) + 5
    //         }
    //     }
    // }
</script>
<style>
    .small {
        max-width: 600px;
        margin: 150px auto;
    }
</style>
{% endraw %} {% endblock %}